<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <form action="" method="post">
		<p>
			apples: <input type="checkbox" name="fruits" value="apples"><br>
			bananas: <input type="checkbox" name="fruits" value="bananas"><br>
			cherries: <input type="checkbox" name="fruits" value="cherries"><br>
		</p>
		<p>
			<input type="submit" name="checked" value="Show checked items">
		</p>
		<p>
			<input type="submit" name="unchecked" value="Show unchecked items">
		</p>
		<p>
			<input type="text" name="showstatname">
			<input type="submit" name="showstat" value="Show status">
		</p>
		{% if message %}
			<p>{{ message }}</p>
		{% endif %}
    </form>

</body>
</html>